.navbar-brand {
    color: whitesmoke;
    font-size: 10pt;
    font-family: Lora;
    text-shadow: 1px 1px 1px black;
}

.headline {
    color: black;
    font-size: 48pt;
    font-family: Great Vibes;
    text-shadow: 1px 1px 1px whitesmoke;
}

.initial_prompt {
    color: black;
    font-size: 30pt;
    font-family: Lora;
    text-shadow: 1px 1px 1px whitesmoke;

}

.query_box {
    margin-left: 0px
}

.container {
    grid-gutter-width: 20px;
}

.col-md-6{
    background-color:#FBFBF8;
    font-size: 12pt;
    font-family: Lora;
}

.jumbotronfluid{
    background-color:#FBFBF8;
}

.h1 {
    font-weight: bold;
}

.ask_page {
    background-color:#FBFBF8;
}